---
version: 2
interactions:
- id: 0
  request:
    host: ai-gateway.vercel.sh
    body: '{"model":"typesafe-ai/jev","state":"Shoes arrived two weeks late and in the wrong size. Also I see two charges on my card. Fix this today.","questions":{"department":{"type":"choice","instructions":"Which team should handle this?","criteria":{"billing":"Charges, invoices, payment problems","returns":"Exchanges, refunds, wrong or damaged items","shipping":"Delivery status, delays, lost packages"}},"escalate":{"type":"boolean","instructions":"Does this need urgent human attention?"},"frustration":{"type":"score","instructions":"How frustrated is the customer?","criteria":["Calm","Frustrated","Very angry"]}}}'
    headers:
      Content-Type:
      - application/json
    url: https://ai-gateway.vercel.sh/v1/evaluate
    method: POST
  response:
    body: '{"model":"typesafe-ai/jev","answers":{"department":{"type":"choice","choice":"returns","probabilities":{"billing":0.12,"shipping":0.02,"returns":0.86},"confidence":0.79},"escalate":{"type":"boolean","probability":0.88},"frustration":{"type":"score","score":1.53,"probabilities":{"0":0,"1":0.47,"2":0.53},"confidence":0.29}},"usage":{"inputTokens":419,"outputTokens":72},"providerMetadata":{"typesafe":{"confidence":{"department":0.79,"frustration":0.29}},"gateway":{"routing":{"originalModelId":"typesafe-ai/jev","resolvedProvider":"typesafe-ai","fallbacksAvailable":[],"planningReasoning":"System credentials planned for: typesafe-ai. Total execution order: typesafe-ai(system)","canonicalSlug":"typesafe-ai/jev","finalProvider":"typesafe-ai","modelAttemptCount":1,"modelAttempts":[{"canonicalSlug":"typesafe-ai/jev","success":true,"providerAttemptCount":1,"providerAttempts":[{"provider":"typesafe-ai","credentialType":"system","success":true,"startTime":1790047787643,"endTime":1790047787838,"statusCode":200}]}],"totalProviderAttemptCount":1},"cost":"0","marketCost":"0.000017598","surchargeCost":"0","gatewayCost":"0","generationId":"gen_01M33JK6AA4S2FJR22EJAN3FKQ"}}}'
    headers:
      Content-Type:
      - application/json
    status: 200 OK
    code: 200
    duration: 4.408502459s
